{% extends 'base.html' %}

{% block content %}
<h2>Patients</h2>

<a href="/add/" class="btn btn-primary mb-3">Add Patient</a>

<table class="table table-bordered">
<tr>
    <th>Name</th>
    <th>Age</th>
    <th>Phone</th>
</tr>

{% for p in patients %}
<tr>
    <td>{{ p.name }}</td>
    <td>{{ p.age }}</td>
    <td>{{ p.phone }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
<form method="GET" class="mb-3">
    <input type="text" name="q" placeholder="Search patient..." class="form-control">
</form>